
<h1>Lista de apuntes contables</h1>
<% estado = estado_caja(@asientos2)%>
<%= p estado %>
<h2> Estado de Caja: 
      <% if estado[0] < 0 %>
      <span class="egreso">
      <%= estado[0] %></span>
      <% elsif estado[0] > 0 %>
	<span class="ingreso">
      <%= estado[0] %></span>
      <% else %>
   <% end %> Córdobas</h2>
<span class="nuevo_item"><% if can? :create, Asiento %>
<%= link_to 'Apunte nuevo', new_asiento_path %>
<% end %></span>
<%= will_paginate_with_i18n @asientos %><br />
<table class="indice">
  <tr>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Descripcion</th>
    <th>Monto</th>
    <th>Evolución caja</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asientos.each do |asiento| %>  
<% if asiento.tipo_id == 2 then %>
    <tr class= "egreso <%= cycle('odd', 'even') -%>">
  <% elsif asiento.tipo_id == 1 %>
	<tr class="ingreso <%= cycle('odd', 'even') -%>">
		<% else %>
		<tr>
  <% end %>
  
  <td><%= asiento.fecha %></td>
  <td><%= asiento.tipo.descripcion %></td>
  <td><%= asiento.categorium.descripcion %></td>
  <td><%= asiento.descripcion %></td>
  <td class="num_align"> <%= asiento.monto %></td>
  <% if estado[1][asiento.id] >0  %>
    <td class="ingreso">
  <% elsif estado[1][asiento.id] <0 %>
	<td class="egreso">
  <% else %>
	<td class="num_align">
  <% end %>
	<%= estado[1][asiento.id] %></td>
  <td><%= link_to 'Mostrar', asiento %></td>
<% if can? :update, asiento %>
  <td><%= link_to 'Modificar', edit_asiento_path(asiento) %></td><% end %>
<% if can? :destroy, asiento %>
  <td><%= link_to 'Eliminar', asiento, :confirm => '¿Está usted seguro?', :method => :delete %></td><% end %>
</tr> 
<% end %>
</table>

<br /><span class="nuevo_item"><% if can? :create, Asiento %>
<%= link_to 'Apunte nuevo', new_asiento_path %>
<% end %></span>
<%= will_paginate_with_i18n @asientos %><br />
<%= link_to "Exportar a csv", request.parameters.merge({:format => :csv}) %>


