<p>  
    <% if @asiento.tipo.descripcion =='Gasto' %>
      <span id="gasto">
	<% else %>
	  <span id="ingreso">
	<% end %>
    <b>Tipo:</b>
      <%= @asiento.tipo.descripcion %>
   </span></p>
  <p>
    <b>Fecha:</b>
    <%= @asiento.fecha %>
  </p>

<p>
  <b>Categoría:</b>
  <%= @asiento.categorium.descripcion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @asiento.descripcion %>
</p>

<p>
  <b>Monto:</b>
  <%= @asiento.monto %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @asiento.observaciones %>
</p>

<% if can? :update, Asiento %>
<%= link_to 'Modificar', edit_asiento_path(@asiento) %> |<% end %>
<%= link_to 'Lista general', asientos_path %>
<% if can? :create, Asiento %> | 
<%= link_to 'Añadir otro apunte más', new_asiento_path %><% end %>
