
<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @asiento.fecha %>
</p>

<p>
  <b>Tipo:</b>
  <%= @asiento.tipo.descripcion %>
</p>

<p>
  <b>Categoria:</b>
  <%= @asiento.categorium.descripcion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @asiento.descripcion %>
</p>

<p>
  <b>Monto:</b>
  <%= @asiento.monto %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @asiento.observaciones %>
</p>

<% if can? :update, Asiento %>
<%= link_to 'Modificar', edit_asiento_path(@asiento) %> |<% end %>
<%= link_to 'Lista general', asientos_path %>
