<h1>Dar de alta a un usuario</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>El formulario es inválido</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Usuario:
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
 <div class="field">
    Rol
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
