<h1>Listing var_confs</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Name foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @var_confs.each do |var_conf| %>
  <tr>
    <td><%= var_conf.titulo %></td>
    <td><%= var_conf.name_foto %></td>
    <td><%= link_to 'Show', var_conf %></td>
    <td><%= link_to 'Edit', edit_var_conf_path(var_conf) %></td>
    <td><%= link_to 'Destroy', var_conf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Var conf', new_var_conf_path %>
