<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @var_conf.titulo %>
</p>

<p>
  <b>Name foto:</b>
  <%= @var_conf.name_foto %>
</p>


<%= link_to 'Edit', edit_var_conf_path(@var_conf) %> |
<%= link_to 'Back', var_confs_path %>
