<!DOCTYPE html>
<html>
<head>
  <title>CarmeBlanch</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
